<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youedata.cd.importData.dao.ZzGsYyzzMapper" >
  <resultMap id="BaseResultMap" type="com.youedata.cd.importData.pojo.ZzGsYyzz" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="refid" property="refid" jdbcType="VARCHAR" />
    <result column="clrq" property="clrq" jdbcType="VARCHAR" />
    <result column="fddbr" property="fddbr" jdbcType="VARCHAR" />
    <result column="fzjg" property="fzjg" jdbcType="VARCHAR" />
    <result column="fzrq" property="fzrq" jdbcType="VARCHAR" />
    <result column="jyfw" property="jyfw" jdbcType="VARCHAR" />
    <result column="lx" property="lx" jdbcType="VARCHAR" />
    <result column="lx_zw" property="lxZw" jdbcType="VARCHAR" />
    <result column="qymc" property="qymc" jdbcType="VARCHAR" />
    <result column="tyxydm" property="tyxydm" jdbcType="VARCHAR" />
    <result column="yyqxks" property="yyqxks" jdbcType="VARCHAR" />
    <result column="yyqxjs" property="yyqxjs" jdbcType="VARCHAR" />
    <result column="zczb" property="zczb" jdbcType="VARCHAR" />
    <result column="zs" property="zs" jdbcType="VARCHAR" />
    <result column="certi_type_code" property="certiTypeCode" jdbcType="VARCHAR" />
    <result column="certi_type_name" property="certiTypeName" jdbcType="VARCHAR" />
    <result column="zzbh" property="zzbh" jdbcType="VARCHAR" />
    <result column="is_valid" property="isValid" jdbcType="VARCHAR" />
    <result column="is_seal" property="isSeal" jdbcType="VARCHAR" />
    <result column="opseq" property="opseq" jdbcType="VARCHAR" />
    <result column="opdes" property="opdes" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, refid, clrq, fddbr, fzjg, fzrq, jyfw, lx, lx_zw, qymc, tyxydm, yyqxks, yyqxjs, 
    zczb, zs, certi_type_code, certi_type_name, zzbh, is_valid, is_seal, opseq, opdes, 
    operator, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zz_gs_yyzz
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zz_gs_yyzz
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.youedata.cd.importData.pojo.ZzGsYyzz" >
    insert into zz_gs_yyzz (id, refid, clrq, 
      fddbr, fzjg, fzrq, 
      jyfw, lx, lx_zw, qymc, 
      tyxydm, yyqxks, yyqxjs, 
      zczb, zs, certi_type_code, 
      certi_type_name, zzbh, is_valid, 
      is_seal, opseq, opdes, 
      operator, create_time, modify_time
      )
    values (#{id,jdbcType=INTEGER}, #{refid,jdbcType=VARCHAR}, #{clrq,jdbcType=VARCHAR}, 
      #{fddbr,jdbcType=VARCHAR}, #{fzjg,jdbcType=VARCHAR}, #{fzrq,jdbcType=VARCHAR}, 
      #{jyfw,jdbcType=VARCHAR}, #{lx,jdbcType=VARCHAR}, #{lxZw,jdbcType=VARCHAR}, #{qymc,jdbcType=VARCHAR}, 
      #{tyxydm,jdbcType=VARCHAR}, #{yyqxks,jdbcType=VARCHAR}, #{yyqxjs,jdbcType=VARCHAR}, 
      #{zczb,jdbcType=VARCHAR}, #{zs,jdbcType=VARCHAR}, #{certiTypeCode,jdbcType=VARCHAR}, 
      #{certiTypeName,jdbcType=VARCHAR}, #{zzbh,jdbcType=VARCHAR}, #{isValid,jdbcType=VARCHAR}, 
      #{isSeal,jdbcType=VARCHAR}, #{opseq,jdbcType=VARCHAR}, #{opdes,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.youedata.cd.importData.pojo.ZzGsYyzz" >
    insert into zz_gs_yyzz
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="refid != null" >
        refid,
      </if>
      <if test="clrq != null" >
        clrq,
      </if>
      <if test="fddbr != null" >
        fddbr,
      </if>
      <if test="fzjg != null" >
        fzjg,
      </if>
      <if test="fzrq != null" >
        fzrq,
      </if>
      <if test="jyfw != null" >
        jyfw,
      </if>
      <if test="lx != null" >
        lx,
      </if>
      <if test="lxZw != null" >
        lx_zw,
      </if>
      <if test="qymc != null" >
        qymc,
      </if>
      <if test="tyxydm != null" >
        tyxydm,
      </if>
      <if test="yyqxks != null" >
        yyqxks,
      </if>
      <if test="yyqxjs != null" >
        yyqxjs,
      </if>
      <if test="zczb != null" >
        zczb,
      </if>
      <if test="zs != null" >
        zs,
      </if>
      <if test="certiTypeCode != null" >
        certi_type_code,
      </if>
      <if test="certiTypeName != null" >
        certi_type_name,
      </if>
      <if test="zzbh != null" >
        zzbh,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="isSeal != null" >
        is_seal,
      </if>
      <if test="opseq != null" >
        opseq,
      </if>
      <if test="opdes != null" >
        opdes,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="refid != null" >
        #{refid,jdbcType=VARCHAR},
      </if>
      <if test="clrq != null" >
        #{clrq,jdbcType=VARCHAR},
      </if>
      <if test="fddbr != null" >
        #{fddbr,jdbcType=VARCHAR},
      </if>
      <if test="fzjg != null" >
        #{fzjg,jdbcType=VARCHAR},
      </if>
      <if test="fzrq != null" >
        #{fzrq,jdbcType=VARCHAR},
      </if>
      <if test="jyfw != null" >
        #{jyfw,jdbcType=VARCHAR},
      </if>
      <if test="lx != null" >
        #{lx,jdbcType=VARCHAR},
      </if>
      <if test="lxZw != null" >
        #{lxZw,jdbcType=VARCHAR},
      </if>
      <if test="qymc != null" >
        #{qymc,jdbcType=VARCHAR},
      </if>
      <if test="tyxydm != null" >
        #{tyxydm,jdbcType=VARCHAR},
      </if>
      <if test="yyqxks != null" >
        #{yyqxks,jdbcType=VARCHAR},
      </if>
      <if test="yyqxjs != null" >
        #{yyqxjs,jdbcType=VARCHAR},
      </if>
      <if test="zczb != null" >
        #{zczb,jdbcType=VARCHAR},
      </if>
      <if test="zs != null" >
        #{zs,jdbcType=VARCHAR},
      </if>
      <if test="certiTypeCode != null" >
        #{certiTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="certiTypeName != null" >
        #{certiTypeName,jdbcType=VARCHAR},
      </if>
      <if test="zzbh != null" >
        #{zzbh,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=VARCHAR},
      </if>
      <if test="isSeal != null" >
        #{isSeal,jdbcType=VARCHAR},
      </if>
      <if test="opseq != null" >
        #{opseq,jdbcType=VARCHAR},
      </if>
      <if test="opdes != null" >
        #{opdes,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youedata.cd.importData.pojo.ZzGsYyzz" >
    update zz_gs_yyzz
    <set >
      <if test="refid != null" >
        refid = #{refid,jdbcType=VARCHAR},
      </if>
      <if test="clrq != null" >
        clrq = #{clrq,jdbcType=VARCHAR},
      </if>
      <if test="fddbr != null" >
        fddbr = #{fddbr,jdbcType=VARCHAR},
      </if>
      <if test="fzjg != null" >
        fzjg = #{fzjg,jdbcType=VARCHAR},
      </if>
      <if test="fzrq != null" >
        fzrq = #{fzrq,jdbcType=VARCHAR},
      </if>
      <if test="jyfw != null" >
        jyfw = #{jyfw,jdbcType=VARCHAR},
      </if>
      <if test="lx != null" >
        lx = #{lx,jdbcType=VARCHAR},
      </if>
      <if test="lxZw != null" >
        lx_zw = #{lxZw,jdbcType=VARCHAR},
      </if>
      <if test="qymc != null" >
        qymc = #{qymc,jdbcType=VARCHAR},
      </if>
      <if test="tyxydm != null" >
        tyxydm = #{tyxydm,jdbcType=VARCHAR},
      </if>
      <if test="yyqxks != null" >
        yyqxks = #{yyqxks,jdbcType=VARCHAR},
      </if>
      <if test="yyqxjs != null" >
        yyqxjs = #{yyqxjs,jdbcType=VARCHAR},
      </if>
      <if test="zczb != null" >
        zczb = #{zczb,jdbcType=VARCHAR},
      </if>
      <if test="zs != null" >
        zs = #{zs,jdbcType=VARCHAR},
      </if>
      <if test="certiTypeCode != null" >
        certi_type_code = #{certiTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="certiTypeName != null" >
        certi_type_name = #{certiTypeName,jdbcType=VARCHAR},
      </if>
      <if test="zzbh != null" >
        zzbh = #{zzbh,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=VARCHAR},
      </if>
      <if test="isSeal != null" >
        is_seal = #{isSeal,jdbcType=VARCHAR},
      </if>
      <if test="opseq != null" >
        opseq = #{opseq,jdbcType=VARCHAR},
      </if>
      <if test="opdes != null" >
        opdes = #{opdes,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youedata.cd.importData.pojo.ZzGsYyzz" >
    update zz_gs_yyzz
    set refid = #{refid,jdbcType=VARCHAR},
      clrq = #{clrq,jdbcType=VARCHAR},
      fddbr = #{fddbr,jdbcType=VARCHAR},
      fzjg = #{fzjg,jdbcType=VARCHAR},
      fzrq = #{fzrq,jdbcType=VARCHAR},
      jyfw = #{jyfw,jdbcType=VARCHAR},
      lx = #{lx,jdbcType=VARCHAR},
      lx_zw = #{lxZw,jdbcType=VARCHAR},
      qymc = #{qymc,jdbcType=VARCHAR},
      tyxydm = #{tyxydm,jdbcType=VARCHAR},
      yyqxks = #{yyqxks,jdbcType=VARCHAR},
      yyqxjs = #{yyqxjs,jdbcType=VARCHAR},
      zczb = #{zczb,jdbcType=VARCHAR},
      zs = #{zs,jdbcType=VARCHAR},
      certi_type_code = #{certiTypeCode,jdbcType=VARCHAR},
      certi_type_name = #{certiTypeName,jdbcType=VARCHAR},
      zzbh = #{zzbh,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=VARCHAR},
      is_seal = #{isSeal,jdbcType=VARCHAR},
      opseq = #{opseq,jdbcType=VARCHAR},
      opdes = #{opdes,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>