<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youedata.cd.importData.dao.ZzQxjFlzzyshgzMapper" >
  <resultMap id="BaseResultMap" type="com.youedata.cd.importData.pojo.ZzQxjFlzzyshgz" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="refid" property="refid" jdbcType="VARCHAR" />
    <result column="xmmc" property="xmmc" jdbcType="VARCHAR" />
    <result column="xmzs" property="xmzs" jdbcType="VARCHAR" />
    <result column="jsdw" property="jsdw" jdbcType="VARCHAR" />
    <result column="yxqks" property="yxqks" jdbcType="VARCHAR" />
    <result column="yxqjs" property="yxqjs" jdbcType="VARCHAR" />
    <result column="fzjg" property="fzjg" jdbcType="VARCHAR" />
    <result column="jcbgbh" property="jcbgbh" jdbcType="VARCHAR" />
    <result column="lybh" property="lybh" jdbcType="VARCHAR" />
    <result column="fzrq" property="fzrq" jdbcType="VARCHAR" />
    <result column="zt" property="zt" jdbcType="VARCHAR" />
    <result column="sfyx" property="sfyx" jdbcType="VARCHAR" />
    <result column="opseq" property="opseq" jdbcType="VARCHAR" />
    <result column="opdes" property="opdes" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, refid, xmmc, xmzs, jsdw, yxqks, yxqjs, fzjg, jcbgbh, lybh, fzrq, zt, sfyx, opseq, 
    opdes, operator, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zz_qxj_flzzyshgz
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zz_qxj_flzzyshgz
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.youedata.cd.importData.pojo.ZzQxjFlzzyshgz" >
    insert into zz_qxj_flzzyshgz (id, refid, xmmc, 
      xmzs, jsdw, yxqks, 
      yxqjs, fzjg, jcbgbh, 
      lybh, fzrq, zt, sfyx, 
      opseq, opdes, operator, 
      create_time, modify_time)
    values (#{id,jdbcType=INTEGER}, #{refid,jdbcType=VARCHAR}, #{xmmc,jdbcType=VARCHAR}, 
      #{xmzs,jdbcType=VARCHAR}, #{jsdw,jdbcType=VARCHAR}, #{yxqks,jdbcType=VARCHAR}, 
      #{yxqjs,jdbcType=VARCHAR}, #{fzjg,jdbcType=VARCHAR}, #{jcbgbh,jdbcType=VARCHAR}, 
      #{lybh,jdbcType=VARCHAR}, #{fzrq,jdbcType=VARCHAR}, #{zt,jdbcType=VARCHAR}, #{sfyx,jdbcType=VARCHAR}, 
      #{opseq,jdbcType=VARCHAR}, #{opdes,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.youedata.cd.importData.pojo.ZzQxjFlzzyshgz" >
    insert into zz_qxj_flzzyshgz
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="refid != null" >
        refid,
      </if>
      <if test="xmmc != null" >
        xmmc,
      </if>
      <if test="xmzs != null" >
        xmzs,
      </if>
      <if test="jsdw != null" >
        jsdw,
      </if>
      <if test="yxqks != null" >
        yxqks,
      </if>
      <if test="yxqjs != null" >
        yxqjs,
      </if>
      <if test="fzjg != null" >
        fzjg,
      </if>
      <if test="jcbgbh != null" >
        jcbgbh,
      </if>
      <if test="lybh != null" >
        lybh,
      </if>
      <if test="fzrq != null" >
        fzrq,
      </if>
      <if test="zt != null" >
        zt,
      </if>
      <if test="sfyx != null" >
        sfyx,
      </if>
      <if test="opseq != null" >
        opseq,
      </if>
      <if test="opdes != null" >
        opdes,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="refid != null" >
        #{refid,jdbcType=VARCHAR},
      </if>
      <if test="xmmc != null" >
        #{xmmc,jdbcType=VARCHAR},
      </if>
      <if test="xmzs != null" >
        #{xmzs,jdbcType=VARCHAR},
      </if>
      <if test="jsdw != null" >
        #{jsdw,jdbcType=VARCHAR},
      </if>
      <if test="yxqks != null" >
        #{yxqks,jdbcType=VARCHAR},
      </if>
      <if test="yxqjs != null" >
        #{yxqjs,jdbcType=VARCHAR},
      </if>
      <if test="fzjg != null" >
        #{fzjg,jdbcType=VARCHAR},
      </if>
      <if test="jcbgbh != null" >
        #{jcbgbh,jdbcType=VARCHAR},
      </if>
      <if test="lybh != null" >
        #{lybh,jdbcType=VARCHAR},
      </if>
      <if test="fzrq != null" >
        #{fzrq,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        #{zt,jdbcType=VARCHAR},
      </if>
      <if test="sfyx != null" >
        #{sfyx,jdbcType=VARCHAR},
      </if>
      <if test="opseq != null" >
        #{opseq,jdbcType=VARCHAR},
      </if>
      <if test="opdes != null" >
        #{opdes,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youedata.cd.importData.pojo.ZzQxjFlzzyshgz" >
    update zz_qxj_flzzyshgz
    <set >
      <if test="refid != null" >
        refid = #{refid,jdbcType=VARCHAR},
      </if>
      <if test="xmmc != null" >
        xmmc = #{xmmc,jdbcType=VARCHAR},
      </if>
      <if test="xmzs != null" >
        xmzs = #{xmzs,jdbcType=VARCHAR},
      </if>
      <if test="jsdw != null" >
        jsdw = #{jsdw,jdbcType=VARCHAR},
      </if>
      <if test="yxqks != null" >
        yxqks = #{yxqks,jdbcType=VARCHAR},
      </if>
      <if test="yxqjs != null" >
        yxqjs = #{yxqjs,jdbcType=VARCHAR},
      </if>
      <if test="fzjg != null" >
        fzjg = #{fzjg,jdbcType=VARCHAR},
      </if>
      <if test="jcbgbh != null" >
        jcbgbh = #{jcbgbh,jdbcType=VARCHAR},
      </if>
      <if test="lybh != null" >
        lybh = #{lybh,jdbcType=VARCHAR},
      </if>
      <if test="fzrq != null" >
        fzrq = #{fzrq,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        zt = #{zt,jdbcType=VARCHAR},
      </if>
      <if test="sfyx != null" >
        sfyx = #{sfyx,jdbcType=VARCHAR},
      </if>
      <if test="opseq != null" >
        opseq = #{opseq,jdbcType=VARCHAR},
      </if>
      <if test="opdes != null" >
        opdes = #{opdes,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youedata.cd.importData.pojo.ZzQxjFlzzyshgz" >
    update zz_qxj_flzzyshgz
    set refid = #{refid,jdbcType=VARCHAR},
      xmmc = #{xmmc,jdbcType=VARCHAR},
      xmzs = #{xmzs,jdbcType=VARCHAR},
      jsdw = #{jsdw,jdbcType=VARCHAR},
      yxqks = #{yxqks,jdbcType=VARCHAR},
      yxqjs = #{yxqjs,jdbcType=VARCHAR},
      fzjg = #{fzjg,jdbcType=VARCHAR},
      jcbgbh = #{jcbgbh,jdbcType=VARCHAR},
      lybh = #{lybh,jdbcType=VARCHAR},
      fzrq = #{fzrq,jdbcType=VARCHAR},
      zt = #{zt,jdbcType=VARCHAR},
      sfyx = #{sfyx,jdbcType=VARCHAR},
      opseq = #{opseq,jdbcType=VARCHAR},
      opdes = #{opdes,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>